<div class="content">
    <h1 class="logo"><a href="/">Fasco</a></h1>
    <div class="main-content">
        <h1 class="heading">Forget Password</h1>
        <form class="formSignIn">
            <label for="SignInEmail">
                <input id="SignInEmail" type="text" placeholder="Email">
            </label>
            <span class="message_error"></span>
            <button type="submit" class="sign-in">Send Confirmation Code</button>
            <span class="question">Already have an account? <a href="/account/sign_in">Login</a></span>
        </form>
    </div>
    <div class="footer">FASCO Terms & Codnitions</div>
</div>
