<div class="content">
    <h1 class="logo"><a href="/">Fasco - Shop</a></h1>
    <div class="main-content">
        <h1 class="heading">user's information</h1>
        <div class="avatar">
            <img src="images/logo/icon.png" alt="">
        </div>
        <div class="flex">
            <div class="name">Full Name : <span></span></div>
            <div class="email">Email : <span></span></div>
        </div>
        <div class="flex">
            <div class="address">Address : <span></span></div>
            <div class="phone">Phone number : <span></span></div>
        </div>
        <div class="grid">
            <div class="update">Update your information <i class="fa-solid fa-pen-to-square"></i></div>
            <div class="logout">Logout <i class="fa-solid fa-right-from-bracket"></i></div>
        </div>
    </div>
    <div class="footer">FASCO Terms & Codnitions</div>
</div>
