<div class="content">
    <h1 class="logo"><a href="/">Fasco</a></h1>
    <div class="main-content">
        <h1 class="heading">Enter Your New Password</h1>
        <form class="formSignIn">
            <label for="password">
                <input id="password" type="text" placeholder="New Password">
                <span class="message"></span>
            </label>
            <label for="confirm_password">
                <input id="confirm_password" type="text" placeholder="Confirmation Password">
                <span class="message"></span>
            </label>
            <button type="submit" class="sign-in">Submit</button>
        </form>
    </div>
    <div class="footer">FASCO Terms & Codnitions</div>
</div>
