<div class="main-img">
    <img src="./images/section/900w-5OChOecEn8Q.webp" alt="">
</div>
<div class="content">
    <h1 class="logo"><a href="/">Fasco</a></h1>
    <div class="main-content">
        <h1 class="heading">Create Account</h1>
        <div class="flex">
            <div class="flex">
                <img src="./images/section/gg.svg" alt="">
                <div>Sign up with Google</div>
            </div>
            <div class="flex">
                <img src="./images/section/facebook.png" alt="">
                <div>Sign up with Facebook</div>
            </div>
        </div>
        <div class="line">- OR -</div>
        <form class="formSignUp">
            <div class="input">
                <label for="SignUpName">
                    <input type="text" id="SignUpName" placeholder="Full Name">
                    <span class="error"></span>
                </label>
                <label for="SignUpAddress">
                    <input type="text" id="SignUpAddress" placeholder="Address">
                    <span class="error"></span>
                </label>
                <label for="SignUpEmail">
                    <input type="email" autocomplete="username" id="SignUpEmail" placeholder="Email Address">
                    <span class="error"></span>
                </label>
                <label for="SignUpPhone">
                    <input type="number" id="SignUpPhone" placeholder="Phone Number">
                    <span class="error"></span>
                </label>
                <label for="SignUpPassword">
                    <input type="password" autocomplete="new-password" id="SignUpPassword" placeholder="Password">
                    <span class="error"></span>
                </label>
                <label for="SignUpConfirm">
                    <input type="password" autocomplete="new-password" id="SignUpConfirm" placeholder="Confirm Password">
                    <span class="error"></span>
                </label>
            </div>
            <button href="#" type="submit" class="sign-up">Sign Up</button>
            <div class="flex">
                <a href="/account/sign_in" class="forget">Already have account?</a>
                <a href="/account/forget_password" class="forget">Forget Password?</a>
            </div>
        </form>
    </div>
    <div class="footer">FASCO Terms & Codnitions</div>
</div>
