<div class="main-img">
    <img src="./images/section/sign_in_banner19280.svg" alt="">
</div>
<div class="content">
    <h1 class="logo"><a href="/">Fasco</a></h1>
    <div class="main-content">
        <h1 class="heading">Sign in to  FASCO</h1>
        <div class="flex">
            <div id="SignInWithGoogle" class="flex">
                <img src="./images/section/gg.svg" alt="">
                <div>Sign in with Google</div>
            </div>
            <div class="flex">
                <img src="./images/section/facebook.png" alt="">
                <div>Sign in with Facebook</div>
            </div>
        </div>
        <div class="line">- OR -</div>
        <form class="formSignIn">
            <label for="SignInEmail">
                <input id="SignInEmail" type="text" placeholder="Email">
                <span></span>
            </label>
            <label for="SignInPassword">
                <input id="SignInPassword" type="password" placeholder="Password">
                <span></span>
                <i id="eye" class="fa-solid fa-eye-slash"></i>
            </label>
            <span class="message_error"></span>
            <button type="submit" class="sign-in">Sign in</button>
            <a href="/account/sign_up" class="sign-up">Register Now</a>
            <a href="/account/forget_password" class="forget">Forget Password?</a>
        </form>
    </div>
    <div class="footer">FASCO Terms & Codnitions</div>
</div>
