<main class="container">
    <header class="header flex">
        <h1 class="logo">
            <a href="/" class="logo">FASCO</a>
        </h1>
        <nav class="navbar flex">
            <a href="/">home</a>
            <a href="/page/shop">shop</a>
            <a href="/page/about">about</a>
            <a href="/page/contact">contact</a>
        </nav>
        <div class="icon flex">
            <a id="search_icon" href="" class="fa-solid fa-magnifying-glass"></a>
            <a href="/account/sign_in" id="Sign_in" class="fa-regular fa-user"></a>
            <a href="#" id="history" class="fa-solid fa-clock-rotate-left"></a>
            <a href="/page/cart" class="fa-solid fa-bag-shopping">
                <span class="cartLength close">1</span>
            </a>
        </div>
    </header>
    <div id="mainContent"></div>
    <footer class="footer">
        <div class="top flex">
            <a class="logo">
                FASCO
            </a>
            <div class="list flex">
                <a href="">Support Center</a>
                <a href="">Invoicing</a>
                <a href="">Contract</a>
                <a href="">Careers</a>
                <a href="">Blog</a>
                <a href="">FAQ,s</a>
            </div>
        </div>
        <p>Copyright © 2022 Xpro . All Rights Reseved.</p>
    </footer>
</main>
