<section class="content">
    <section class="section1">
        <div class="header_section1 flex">
            <h1 class="heading">Shopping Cart</h1>
            <div class="link flex">
                <a href="#">Home</a>
                <span>></span>
                <a href="#">Your Shopping Cart</a>
            </div>
        </div>
        <div class="main_cart">
            <div class="thead">
                <h1>Product</h1>
                <h1>Price</h1>
                <h1>Quantity</h1>
                <h1>Total</h1>
            </div>
            <div class="line"></div>
            <div class="tbody flex"></div>
            <div class="line"></div>
        </div>
        <div class="checkbox flex">
            <input type="checkbox"/>
            <div>For <span>$10.00</span> please wrap the product</div>
        </div>
        <div class="line"></div>
        <div class="subtotal flex">
            <div>Subtotal:</div>
            <div>$100.00</div>
        </div>
        <a href="/page/checkout" class="checkout">
            Checkout
        </a>
    </section>
    <section class="section7 flex">
        <div class="banner_left">
            <img src="../../images/section/banner_footer2.svg" alt="">
        </div>
        <div class="mid_content">
            <h1 class="heading">Subscribe To Our Newsletter</h1>
            <div class="section7_content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin
            </div>
            <label class="input_index" for="email_index">
                <input type="text" id="email_index" name="email_index" placeholder="michael@ymail.com" />
            </label>
            <a href="" class="btn">Subscribe Now</a>
        </div>
        <div class="banner_right">
            <img src="../../images/section/banner_right.svg" alt="">
        </div>
    </section>
</section>
