<section class="content">
    <section id="section1" class="section1">
        <h1 class="heading">Fashion</h1>
        <div class="flex direction">
            <p class="">Home</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9" viewBox="0 0 7 9" fill="none">
                <path d="M0.538124 0.140893L0.413829 0.26517C0.331458 0.347542 0.331458 0.4811 0.413829 0.563489L3.85023 3.99991L0.413829 7.43632C0.331458 7.5187 0.331458 7.65225 0.413829 7.73464L0.538124 7.85892C0.620495 7.94129 0.754054 7.94129 0.836425 7.85892L4.54631 4.14906C4.62868 4.06669 4.62868 3.93313 4.54631 3.85074L0.836425 0.140893C0.754054 0.0585044 0.620495 0.0585044 0.538124 0.140893Z" fill="black" stroke="black" stroke-width="0.0175781"/>
            </svg>
            <p class="">Fashion</p>
        </div>
        <div class="box_product flex">
            <div class="filter">
                <h1 class="heading">Filters</h1>
                <div class="size_filter">
                    <h1 class="size_heading">
                        Size
                    </h1>
                    <div class="table_size flex">
                        <a href="">S</a>
                        <a href="">M</a>
                        <a href="">L</a>
                        <a href="">XL</a>
                    </div>
                </div>
                <div class="color_filter">
                    <h1 class="color_heading">colors</h1>
                    <div class="table_color_filter flex">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="price_filter">
                    <h1 class="price_heading">price</h1>
                    <div class="table_price_filter flex">
                        <a href="">$0-$50</a>
                        <a href="">$50-$100</a>
                        <a href="">$100-$150</a>
                        <a href="">$150-$200</a>
                        <a href="">$300-$400</a>
                    </div>
                </div>
            </div>
            <div class="main_box_product">
                <div class="top_content flex">
                    <label class="top_header flex">
                        <select id="categories_shop"></select>
                    </label>
                    <div class="icon flex">
                        Sort by price
                        <a href="/page/shop/" data-sort="up" class="fa-solid fa-arrow-up-wide-short"></a>
                        <a href="/page/shop/" data-sort="down" class="fa-solid fa-arrow-down-wide-short"></a>
                    </div>
                </div>
                <div class="main_content"></div>
                <div class="page flex"></div>
            </div>
        </div>
    </section>
    <section class="section5">
        <h1 class="heading">Follow Us On Instagram</h1>
        <div class="section5_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin
        </div>
        <div class="line">
            <img loading="lazy" src="../../images/products/img1_section5.svg" alt="img1_section5" class="img1_section5">
            <img loading="lazy" src="../../images/products/img2_section5.svg" alt="img2_section5" class="img2_section5">
            <img loading="lazy" src="../../images/products/img3_section5.svg" alt="img3_section5" class="img3_section5">
            <img loading="lazy" src="../../images/products/img4_section5.svg" alt="img4_section5" class="img4_section5">
            <img loading="lazy" src="../../images/products/img5_section5.svg" alt="img5_section5" class="img5_section5">
            <img loading="lazy" src="../../images/products/img6_section5.svg" alt="img6_section5" class="img6_section5">
            <img loading="lazy" src="../../images/products/img7_section5.svg" alt="img7_section5" class="img7_section5">
        </div>
    </section>
    <section class="section7 flex">
        <div class="banner_left">
            <img loading="lazy" src="../../images/section/banner_footer2.svg" alt="">
        </div>
        <div class="mid_content">
            <h1 class="heading">Subscribe To Our Newsletter</h1>
            <div class="section7_content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin
            </div>
            <label class="input_index" for="email_index">
                <input type="text" id="email_index" name="email_index" placeholder="michael@ymail.com" />
            </label>
            <a href="" class="btn">Subscribe Now</a>
        </div>
        <div class="banner_right">
            <img loading="lazy" src="../../images/section/banner_right.svg" alt="">
        </div>
    </section>
</section>
