<div class="breadcrumb flex">
    <div class="left flex">
        <div class="top">
            <a href="">Admin</a>
            /
            <a href="">Orders</a>
        </div>
        <div class="bottom">
            Orders
        </div>
    </div>
    <div class="right flex">
        <div class="input flex">
            <a href="#" class="fa-solid fa-magnifying-glass"></a>
            <input type="text" name="searchAdmin" placeholder="Type here...">
        </div>
        <a class="sign_in flex" href="">
            <i class="fa-solid fa-user"></i>
            <span>Nguyen Tien</span>
        </a>
        <a href="#" class="fa-solid fa-gear setting"></a>
        <a href="#" class="fa-solid fa-bell notice"></a>
    </div>
</div>
<div class="table">
    <div class="thead">
        <h2>id</h2>
        <h2>information</h2>
        <h2>order date</h2>
        <h2>total</h2>
        <h2>status</h2>
        <h2>action</h2>
    </div>
    <div class="tbody">
        <div class="row"></div>
    </div>
</div>
